/* static/css/layout.css */
/* ===== DISPOSITION PRINCIPALE ===== */
.app-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #e8eaed;
}
